@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin-top: 0px;
  padding: 0px;
  overflow-x: hidden;
  
}

i {
  font-size: 24px;
}

p {
  font-size: 17px;
}
